<div class="mx-auto max-w-screen-2xl">
    <div class="flex bg-gradient-to-r from-gray-100 via-gray-300 to-gray-200">
        <div class="w-1/2">
            <p>Envie d'un nouveau look?</p>
            <p>Nous avons exactement ce qu'il vous faut.</p>
            <p>Jettez-y un coup d'oeil!</p>
        </div>
        <div class="w-1/2">
            <img src="../../../assets/img/acceuil1.png" alt="shop image">
        </div>
    </div>

    <!-- PROMO -->
    <div class="mt-8 flex h-screen">
        <ng-container *ngIf="isTestEmpty(); else promoEmpty">
            <section class="splide h-full ">
                <div class="splide__track h-full bg-white border border-gray-200 shadow dark:bg-gray-800 dark:border-gray-700">
                    <ul class="splide__list">
                        <li *ngFor="let item of test" class="splide__slide px-8">
                            <div class="flex">
                                <div class="w-1/2">
                                    <div>
                                        <span class="capitalize font-semibold text-2xl leading-8 text-gray-900">{{ item.name }} <span class="text-red-500">{{ item.promo }}% OFF</span></span>
                                    </div>
                                    <div>
                                        <p class="font-thin text-base leading-8 text-gray-900">Prix: 
                                            <span class="line-through font-normal text-lg leading-8 text-gray-400">
                                                ${{ item.price }}
                                            </span>
                                        </p>
                                            
                                    </div>
                                    <div>
                                        <p class="font-thin text-base leading-8 text-gray-900">Prix actuel: 
                                            <span class="font-normal text-lg leading-8 text-gray-400">
                                                    ${{ promoPrice(item.price, item.promo) }}
                                            </span>
                                        </p>
                                    </div>
                                    <div>
                                        <p class="font-thin text-base leading-8 text-gray-900">Fin de la promotion: 
                                            <span class="font-normal text-lg leading-8 text-gray-400">
                                                {{ item.datePromoFin }}
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <img class="p-2" style="width: 95%; height: 90%" src="{{item.picture}}" alt="promoItem">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </ng-container>
        <ng-template #promoEmpty>
            <!-- No Promo -->
            <div class="w-full p-4 ">
                <div class="w-36 h-36 block bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 flex justify-center items-center">
                    <p class="font-normal text-gray-700 dark:text-gray-400">Aucune promotion</p>
                </div>
            </div>
        </ng-template>
    </div>

    <!-- BEST SELLING -->
    <div class="my-8 h-screen bg-[#EEEEF0]">
        <p class="mx-4">Meilleures ventes</p>
        <ng-container *ngIf="isTestEmpty(); else bestSellingEmpty">
            <section id="bestSelling" class="splide h-5/6">
                <div class="splide__track h-full bg-white dark:bg-gray-800 dark:border-gray-700">
                    <ul class="splide__list">
                        <li *ngFor="let item of test" class="splide__slide px-4 bg-clip-padding">                  
                            <div class="h-full bg-white dark:bg-gray-800 dark:border-gray-700" style="background-clip: padding-box; box-shadow: 0 0 0 2rem #EEEEF0;">
                                <div class="h-4/6">
                                    <a href="#">
                                        <img class="w-full h-full p-1" src="{{ item.picture }}" alt="bestSellingItem" />
                                    </a>
                                </div>
                                <div class="h-2/6 px-5 pt-4">
                                    <a href="#">
                                        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{ item.name }}</h5>
                                    </a>
                                    <div class="flex items-center my-2">
                                        <div class="flex items-center space-x-1 rtl:space-x-reverse">
                                            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                fill="currentColor" viewBox="0 0 22 20">
                                                <path
                                                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                            </svg>
                                            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                fill="currentColor" viewBox="0 0 22 20">
                                                <path
                                                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                            </svg>
                                            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                fill="currentColor" viewBox="0 0 22 20">
                                                <path
                                                     d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                            </svg>
                                            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                fill="currentColor" viewBox="0 0 22 20">
                                                <path
                                                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                            </svg>
                                            <svg class="w-4 h-4 text-gray-200 dark:text-gray-600" aria-hidden="true"
                                                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                                <path
                                                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                            </svg>
                                        </div>
                                        <span
                                            class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-3">5.0</span>
                                    </div>
                                    <div class="flex items-center justify-between">
                                        <span class="text-3xl font-bold text-gray-900 dark:text-white">${{ item.price }}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </ng-container>
        <ng-template #bestSellingEmpty>
            <!-- No Best Selling -->
            <div class="w-full p-4 ">
                <div
                    class="w-36 h-36 block bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <p class="font-normal text-gray-700 dark:text-gray-400">Aucune vente</p>
                </div>
            </div>
        </ng-template>
        
    </div>

    <!-- BLOG -->
    <div class="mb-8">
        <p class="mx-4">Nos blogs</p>
        <ng-container *ngIf="isTestEmpty(); else blogEmpty">
            <div class="grid-cols-1 sm:grid md:grid-cols-3 ">
                <div *ngFor="let blog of test2 | slice:0:2">
                    <div
                        class="mx-3 mt-6 flex flex-col bg-white text-surface shadow-secondary-1 dark:bg-surface-dark dark:text-white sm:shrink-0 sm:grow sm:basis-0">
                        <a href="#!">
                            <img src="{{ blog.picture }}" alt="Skyscrapers" />
                        </a>
                        <div class="p-6">
                            <h5 class="mb-2 text-xl font-medium leading-tight">{{ blog.title }}</h5>
                            <p class="mb-4 text-base">
                                {{ blog.description }}
                            </p>
                        </div>
                        <div
                            class="mt-auto border-t-2 border-neutral-100 px-6 py-3 text-center text-surface/75 dark:border-white/10 dark:text-neutral-300">
                            <small>Posted {{ blog.datePosted }} \ {{ blog.author }}</small>
                        </div>
                    </div>
                </div>
            
                <div (click)="blogsPage()"
                    class="mx-3 mt-6 flex flex-col bg-white text-surface shadow-secondary-1 dark:bg-surface-dark dark:text-white sm:shrink-0 sm:grow sm:basis-0">
                    <div
                        class="block max-w-[18rem] rounded-lg bg-white text-left text-surface shadow-secondary-1 dark:bg-surface-dark dark:text-white">
                        <div class="p-6">
                            <h5 class="mb-1 text-xl font-medium leading-tight ">
                                Blogs
                            </h5>
                            <p class="mb-4 text-base leading-normal">
                                Consultez nos autres blogs. Certains vous interesserons sans doute.
                                <svg class="w-6 h-6 text-gray-800 dark:text-white inline" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                                </svg>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #blogEmpty>
            <!-- No Blog -->
            <div class="w-full p-4 ">
                <div
                    class="w-36 h-36 block bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <p class="font-normal text-gray-700 dark:text-gray-400">Aucun blog disponible</p>
                </div>
            </div>
        </ng-template>
    
    </div>

    <div class="mb-8 bg-gradient-to-r from-gray-100 via-gray-300 to-gray-200">
        <p class="mx-4">Recevoir nos dernières nouvelles via</p>
    </div>
</div>