<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-full lg:py-4">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            <img class="w-8 h-8 mr-2" src="../../../assets/img/logo.jpg" alt="logo">
            Miandabou Accessoires
        </a>
        <div
            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Créer un nouveau compte
                </h1>

                <!--Sign in section-->
                <div class="flex flex-row items-center justify-center lg:justify-start">
                    <p class="mb-0 me-4 text-lg">Avec</p>

                    <!-- Facebook -->
                    <button type="button" data-twe-ripple-init data-twe-ripple-color="light"
                        class=" mx-1 inline-block h-9 w-9 rounded-full bg-[#e7cc96] fill-white p-2 uppercase leading-normal shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
                        <!-- Facebook -->
                        <span class="[&>svg]:mx-auto [&>svg]:h-3.5 [&>svg]:w-3.5">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                                <path
                                    d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z" />
                            </svg>
                        </span>
                    </button>

                    <!-- Instagram -->
                    <button type="button" data-twe-ripple-init data-twe-ripple-color="light"
                        class=" mx-1 inline-block h-9 w-9 rounded-full bg-[#e7cc96] fill-white p-2 uppercase leading-normal shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
                        <!-- Instagram -->
                        <span class="[&>svg]:mx-auto [&>svg]:h-3.5 [&>svg]:w-3.5">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6">
                                <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                            </svg>
                        </span>
                    </button>

                    <!-- Linkedin -->
                    <button type="button" data-twe-ripple-init data-twe-ripple-color="light"
                        class=" mx-1 inline-block h-9 w-9 rounded-full bg-[#e7cc96] fill-white p-2 uppercase leading-normal shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
                        <!-- Linkedin -->
                        <span class="[&>svg]:mx-auto [&>svg]:h-3.5 [&>svg]:w-3.5">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                                <path
                                    d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z" />
                            </svg>
                        </span>
                    </button>
                </div>

                <!-- Separator between social media sign in and email/password sign in -->
                <div
                    class="my-4 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-neutral-300 after:mt-0.5 after:flex-1 after:border-t after:border-neutral-300 dark:before:border-neutral-500 dark:after:border-neutral-500">
                    <p class="mx-4 mb-0 text-center font-semibold dark:text-white">
                        Ou
                    </p>
                </div>

                <form class="space-y-4 md:space-y-6" (ngSubmit)="register()" [formGroup]="registerForm">

                    <!--  FIRST NAME -->
                    <div class="mb-5">
                        <label for="firstname" class="mb-3 block text-base font-medium text-[#07074D]">
                            *Prénom
                        </label>
                        <input type="text" name="firstname" id="firstname" placeholder="First Name"
                            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                            formControlName="firstname" />
                        <span *ngIf="firstnameEmpty()" class="text-xs font-light text-red-500"
                            style="margin: 0px;">Veuillez
                            saisir un prénom.</span>
                        <span *ngIf="firstnameLength()" class="text-xs font-light text-red-500"
                            style="margin: 0px;">Vous
                            avez dépassé la taille maximale de 35 caractères.</span>
                    </div>

                    <!--  LAST NAME -->
                    <div class="mb-5">
                        <label for="lastname" class="mb-3 block text-base font-medium text-[#07074D]">
                            *Nom
                        </label>
                        <input type="text" name="lastname" id="lastname" placeholder="Last Name"
                            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                            formControlName="lastname" />
                        <span *ngIf="lastnameEmpty()" class="text-xs font-light text-red-500"
                            style="margin: 0px;">Veuillez
                            saisir votre nom.</span>
                        <span *ngIf="lastnameLength()" class="text-xs font-light text-red-500" style="margin: 0px;">Vous
                            avez dépassé la taille maximale de 35 caractères.</span>
                    </div>

                    <!--  EMAIL -->
                    <div>
                        <label for="email"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">*Email</label>
                        <!--  required="" -->
                        <input type="email" name="email" id="email"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="name@company.com" formControlName="email">
                        <span *ngIf="emailEmpty()" class="text-xs font-light text-red-500" style="margin: 0px;">Veuillez
                            saisir un email.</span>
                        <span *ngIf="emailFormat()" class="text-xs font-light text-red-500" style="margin: 0px;">Format
                            email invalid!</span>
                        <span *ngIf="emailLength()" class="text-xs font-light text-red-500" style="margin: 0px;">Vous
                            avez dépassé la taille maximale de 35 caractères.</span>
                    </div>

                    <!--  TEL -->
                    <div class="mb-5">
                        <label for="tel" class="mb-3 block text-base font-medium text-[#07074D]">
                            Téléphone
                        </label>
                        <input type="text" name="tel" id="tel" placeholder="(111) 111-1111" #phoneInput
                            (input)="formatInput(phoneInput)"
                            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                            formControlName="tel" />
                        <span *ngIf="phoneFormat()" class="text-xs font-light text-red-500" style="margin: 0px;">Mauvais
                            format.</span>
                    </div>

                    <!--  PASSWORD -->
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">*Mot
                            de passe</label>
                        <input type="password" name="password" id="password" placeholder="••••••••"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            formControlName="password">
                        <span *ngIf="passwordEmpty()" class="text-xs font-light text-red-500"
                            style="margin: 0px;">Veuillez
                            saisir le mot de passe.</span>
                    </div>

                    <!--  CONFIRM PASSWORD -->
                    <div>
                        <label for="cpassword"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">*Confirmez votre mot
                            de passe</label>
                        <input type="password" name="cpassword" id="cpassword" placeholder="••••••••"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            [(ngModel)]="cpassword" [ngModelOptions]="{standalone: true}">
                        <span *ngIf="!cpasswordMatch()" class="text-xs font-light text-red-500" style="margin: 0px;">Les
                            mots de passe ne correspondent pas.</span>
                    </div>

                    <!--  POLICY CONDITIONS -->
                    <div class="flex items-center justify-between">
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input id="remember" aria-describedby="remember" type="checkbox"
                                    class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
                                    required="">
                            </div>
                            <div class="ml-3 text-sm">
                                <label for="remember" class="text-gray-500 dark:text-gray-300">J'ai lu et j'accepte les
                                    conditions d'utilisation</label>
                            </div>
                        </div>
                    </div>

                    <!--  SUBMIT -->
                    <button type="submit"
                        class="w-full text-white bg-[#e7cc96] disabled:hover:bg-[#e7cc96] hover:bg-[#e7cc96]  focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-[#e7cc96] dark:hover:bg-[#e7cc96] dark:focus:ring-primary-800 disabled:opacity-50">
                        Créer
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>